#contact_us_main_container {
    position: relative;
}

.contact_us_background_shape {
    position: absolute;
    z-index: -1;
    left: unset;
    right: 0;
}

#contact_us {
    text-align: center;
    max-width: 85%;
    margin: 4rem auto;
    border-bottom: 1px solid #e7e7e7;
}

.contact_us_container {
    margin: 4rem 16rem;
}

.MuiTextField-root {
    margin-bottom: 1rem !important;
}

.contact_us_form {
    margin: 2rem;
    text-align: center;
}

//h4 {
//    font-weight: bold;
//    width: 75%;
//    margin-bottom: 1rem;
//}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}
